header {
    background-color: var(--bck-color);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--bck-color);
    position: sticky;
  }
  header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  header .logo b {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: var(--white-color);
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  header .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  header nav a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  header .toggle {
    font-size: 24px;
    color: var(--white-color);
  }